@import '../../constant.module.scss';

.main{
    background-color: $blue!important;
    width: 450px;
    @media screen and (max-width: $notebook) {
        width: 100%;
    }
}
.header{
    display: flex;
    justify-content: space-between;
    h1{
        margin: 0;
        font-weight: 600;
        color: $white;
    }
    svg{
        width: 70px;
        height: fit-content;
        margin-top: -16px;
    }
}
.footer{
    display: flex;
    justify-content: space-between;
    color: $white;
    div{
        display: flex;
        flex-direction: column;
    }
}