@import '../constant.module.scss';
.main {
  display: flex;
  flex-direction: column;
  padding: 36px 24px !important;
  overflow-y: auto;
  gap: 20px;
  @include defaultBody;
  @media screen and (max-width: $tablet) {
    margin: 0;
  }
}

.container{
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
}
.sectionOne{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
}