$black:#13101B;
$white:#FFFFFF;
$white-2:#F7F6FC;
$white-3:#F7F7F9;
$blue:#545DE6;
$blue-2:#C7CAFF;
$blue-3:#B9BBFF;
$yellow:#FFA70F;
$lumia:#FFE2BE;
$red:#EF5D51;
$gray:#E8E8E8;


@mixin defaultBody($bgColor:$white-2){
    margin-left: 5vw;
    background-color: $bgColor; 
    width: 100%;
}
@mixin rowCenter($justify:flex-start,$align:flex-start){
    display: flex;
    align-items: $align;
    justify-content: $justify;
}
@mixin columnCenter($justify:flex-start,$align:flex-start){
    display: flex;
    flex-direction: column;
    align-items: $align;
    justify-content: $justify;
}
@mixin cardContainer{
    padding: 20px;
    border-radius: 20px;
    height: auto;
    @media screen and (max-width: $tablet) {
        padding: 14px;
    }
}
@mixin titleCard($weight:500,$size:16px){
    font-weight: $weight;
    font-size: $size;
}
@mixin labelText($size:12px){
    color: gray;
    font-weight: 400;
    font-size: $size;
}
$mobile:320px;
$mobile2:425px;
$tablet:768px;
$notebook:1024px;